@charset "utf-8";

/* Layoutsheet */


/* Article Styles */
article {
   float: left;
   width: 384px;
}

/* First Line and Drop Cap Styles */

article p:first-of-type:first-line {
   font-size: 1.25em;
   font-variant: small-caps;
}

article p:first-of-type:first-letter {
   font-size: 4em;
   font-family: serif;
   float: left;
   line height: 0.8em;
   margin-right: 5px;
   margin-bottom: 5px;
}

/* Aside Styles */
aside {
   float: left;
   width: 768px;
}


/* Map Styles */

#locationMap {
   width: 688px;
   margin: 20px auto;
   position: relative;
}

#mapImage {
   display: block;
   width: 100%;
}

/* Interactive Map Styles */

a.locationMarkers {
   position:absolute;
   top: 0;
   left: 0;
}

#marker1 {
   top: 10%;
   left: 50%;
}

#marker2 {
   top: 60%;
   left: 68%;
}

#marker3 {
   top:25%;
   left: 60%;
}

#marker4 {
   top: 20%;
   left: 50%;
}

#marker5 {
   top: 50%;
   left: 25%;
}

#marker6 {
   top: 60%;
   left: 45%;
}






div.mapInfo {
    display: none; 
    position: absolute;
    width: 200px;
    z-index: 20;

    left: 100%; 
    transform: translateX(-50%); 
    top: -20%; 
    margin-top: 10px; 
    
    background-color: rgb(144, 24, 26);
    color: rgb(214, 192, 144);
    padding: 10px 20px; 
    border-radius: 5px; 
}


div.mapInfo h2 {
   background-color: rgb(96, 87, 70);
   font-size: 22px;
   font-weight: normal;
   padding: 10px 20px;
}

a.locationMarkers:hover + div.mapInfo {
    display: block;
}


@media (max-width: 1152px) {
    article, aside {
        float: none; 
        width: 100%; 
    }


    #locationMap {
        max-width: 688px; 
        width: 90%; 
        margin: 20px auto;
    }
}







